@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contigencias</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ABM</h2>

        <p>
            <div>
                @Html.ActionLink("Lista de Condiciones", "Index", "condiciones")<br />
                @Html.ActionLink("Lista de Escenarios", "Index", "escenarios")<br />
                @Html.ActionLink("Lista de Planes de Contigencia", "Index", "planescontingencias")<br />
                @Html.ActionLink("Lista de Instrucciones", "Index", "instrucciones")<br />
                @Html.ActionLink("Lista de Destinatarios", "Index", "destinatarios")<br />
                @Html.ActionLink("Lista de Personas", "Index", "personas")<br />
                <p></p>
                @Html.ActionLink("Lista de Condiciones por Escenario", "Index", "escenario_condicion")<br />
                @Html.ActionLink("Lista de Personas por Destinatario", "Index", "destinatario_persona")<br />
                @Html.ActionLink("Lista de Planes por Escenario", "Index", "plan_escenario")<br />
                @Html.ActionLink("Lista de Planes por Instruccion","Index", "plan_instruccion") <br />
               
              </div>   
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Mas... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p></p>
        
    </div>
    <div class="col-md-4">
        <h2>Soporte</h2>
        <p></p>
        
    </div>
</div>