@model contigencia.Models.ViewModels.PlanDestinatariosViewModel

@{
    ViewBag.Title = "Agregar Destintarios";
}

<h2>Agregar Destinatarios</h2>


@using (Html.BeginForm())
{
<link href="~/Content/Site.css" rel="stylesheet" />
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Plan De Contingencias - Destinatarios</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.plan.id)

        <div class="form-group">
            @Html.LabelFor(model => model.plan.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.plan.descripcion, new { htmlAttributes = new { @class = "form-control"  }  })
                @Html.ValidationMessageFor(model => model.plan.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
                       
        <div class="form-group">
            @Html.LabelFor(model=>model.allDestinatarios,"Destinatarios",new {@class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.SelectedDestinatarios, Model.allDestinatarios, new { @style="width: 400px; height: 130px;" })
            </div>
        </div>        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
