@model IEnumerable<contigencia.Models.PlanContingencia>

@{
    ViewBag.Title = "Inicio";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th colspan="2">
            Escenarios
                        
        </th>
        <th>
            Instrucciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
       
        <td colspan="2">

            @foreach (var escenario in item.Escenario)
            {
                @escenario.nombre
                <br />
            }

            @*@Html.ListBox("Id", new SelectList(item.Condicion, "id", "nombre"))*@
        </td>
        <td>
            <ul>
                @foreach (var instruccion in item.Instruccion)
                    {
                        <li>
                            @instruccion.descripcion
                        </li>
                    }
            </ul>

        </td>
        
        <td>

            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Acciones <span class="caret"></span></button>
                <ul class="dropdown-menu">                    
                    <li>@Html.ActionLink("Editar", "Edit", new { id=item.id })@*<i class="icon-pencil"></i>*@ </li>
                    <li>@Html.ActionLink("Escenarios", "AddEscenaries", new { id = item.id })@*<i class="glyphicon-list-alt"></i>*@</li>
                    <li>@Html.ActionLink("Instrucciones", "AddInstructions", new { id = item.id })</li>              
                </ul>
            </div>
            @*Escenarios: glyphicon glyphicon-list-alt
            Instruccion: glyphicon glyphicon-tasks*@

            @*@Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id }) |
            @Html.ActionLink("Escenarios", "AddEscenaries", new { id = item.id }) |
            @Html.ActionLink("Instrucciones", "AddInstructions", new { id = item.id })*@
        </td>
    </tr>
}

</table>
