@model contigencia.Models.plan_instruccion

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>plan_instruccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.instruccione.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instruccione.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planescontingencia.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planescontingencia.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
