
@model IEnumerable<contigencia.Models.Escenario>

@{

    ViewBag.Title = "Inicio";
}

<h2>Escenarios</h2>

<p>

    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th>
            Nivel Riesgo
        </th>
        <th>
            Condiciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td style="background-color:@item.NivelesDeRiesgo.color;">
           @string.Format("{0}  ({1})", item.NivelesDeRiesgo.descripcion, item.NivelesDeRiesgo.prioridad)
        </td>
        <td>
            <ul>
                @foreach (var condicion in item.Condicion)
                    {
                        <li>
                            @condicion.nombre
                        </li>

                    }
            </ul>
            @*@Html.ListBox("Id", new SelectList(item.Condicion, "id", "nombre"))*@
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |            
            @Html.ActionLink("Borrar", "Delete", new { id=item.id }) |
            @Html.ActionLink("Condiciones", "AddConditions", new { id = item.id })
        </td>
    </tr>
}

</table>
